/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;600&family=Rubik:wght@300;600&display=swap');

//Fonts
$font-family-sans-serif: "Rubik", FreeSerif, serif !default;

//Headings
$presentation-heading-font: "Big Shoulders Text", serif !default;
$presentation-heading-color: #C61A72 !default;

// Colors
$rural-pink: #C61A72;
$ruralr-pink: #EDBAD4;
$rurald-pink: #D75E9C;
$ruralf-pink: #C61A72;
$town-green: #7B8400;
$suburb-blue: #0D8C98;
$city-yellow: #D8A419;
$navy-blue: #131521;
$gray-blue: #444965;
$charcoal: #262626;
$light-gray: #d2d2d2;
$white: #ffffff;

// Base document colors
$link-color: #444965;
$link-color-hover: $rural-pink;
$body-color: #262626;

/*-- scss:rules --*/

.quarto-title-author {
    color: #ffffff;
  }